<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>conditions</h1>
        <h1>if-block</h1>
    {% if a > b %}
        <h1>{{a}}</h1>
    {% endif %}

    <h1>if-else</h1>
    {% if a > b %}
        <h1>a is greater than b</h1>
    {% else %}
        <h1>b is greater than a</h1>
    {% endif %}

    <h1>if-else-elif</h1>
    {% if a > b %}
        <h1>a is greater than b,c</h1>
    {% elif b > c %}
        <h1>b is greater than a,c</h1>
    {% else %}
        <h1>c is greater than a,b</h1>
    {% endif %}

    <h1>nested-if-else</h1>
    {% if a > b %}
        {% if a > c %} 
            <h1>a is max</h1>
        {% else %}
            <h1>c is max</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
            <h1>b is max</h1>
        {% else %}
            <h1>c is max</h1>
        {% endif %}
    {% endif %}
    
    </center>
</body>
</html>